html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
@font-face {
  font-family: "CourierPrime";
  src: url('./assets/fonts/CourierPrime-Regular.ttf');
}
.App {
  padding: 24px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DevanagariSangam";
  font-size: 14px;
  position: relative;
  .bio {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.1;
    p {
      margin: 5px 0 !important;
      font-family: 'CourierPrime';
    }
  }
  .story {
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
  }
  #spinner {
    text-align: center;
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    font-size: 120px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 6;
    font-weight: 800;
  }
  @keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
  }
  @keyframes depth {
    0% { text-shadow: 0 0 black; }
    25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    50% { text-shadow: 0 0 black; }
    75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
    100% { text-shadow: 0 0 black; }
  }
  .countdown {
    background-color: #e1ff00;
    padding: 10px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    position: relative;
    .logo {
      position: relative;
      width: 65%;
      height: auto;
      margin-bottom: 50px;
    }
    .logo-small {
      position: absolute;
      right: 0;
      width: 22%;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 14px;
      padding: 10px;
      font-family: "DevanagariSangam";
    }
    .flag-wrapper {
      align-items: center;
      margin-top: 50px;
      width: 30%;
      display: flex;
      justify-content: space-between;
    }
    form {
      width: 20%;
      .MuiInputBase-root::before {
        border-color: transparent !important;
      }
      .MuiInput-underline::after {
        border-bottom: transparent !important;
      }
      .MuiFormLabel-root {
        font-size: 14px;
      }
    }
  }
  footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 108px;
    justify-content: center;
    left: 0;
    margin-left: 30px;
    position: absolute;
  }
  .popup-one {
    width: 30vw;
    position: absolute !important;
    left: 10%;
    top: 18%;
    z-index: 10;
    height: 80vh;
  }
  .popup-two {
    width: 40vw;
    position: absolute !important;
    right: 2%;
    z-index: 10;
    top: 18%;
    height: 40vh;
    .look-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }
    .window-image {
      object-fit: contain;
      width: 250px;
    }
  }
  .popup-three {
    width: 23vw;
    position: absolute !important;
    right: 22%;
    z-index: 11;
    top: 55%;
    height: 32vh;
  }
  .popup-four {
    width: 37vw;
    position: absolute !important;
    right: 15%;
    z-index: 10;
    top: 76%;
    height: 30vh;
    .look-content {
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    .window-image {
      object-fit: contain;
      width: 250px;
      transform: rotate(275deg);
    }
  }
  .window-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 576px) {
  .App {
    .wrapper {
      padding: 50px 0;
      .logo {
        position: relative;
        width: 85%;
        height: auto;
        margin-bottom: 30px;
      }
      .logo-small {
        position: absolute;
        right: 0;
        width: 26%;
        top: 6%
      }
      .flag-wrapper {
        align-items: center;
        margin-top: 50px;
        width: 70%;
        display: flex;
        justify-content: space-between;
      }
      form {
        width: 45%;
      }
    }
  }
}
