@font-face {
  font-family: 'DevanagariSangam';
  src: url('./assets/font/DevanagariSangamMN.ttc') format('ttc');
}

body {
  margin: 0;
  font-family: DevanagariSangam, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


