@font-face {
  font-family: 'DevanagariSangam';
  src: url('./assets/fonts/devanagarisangammn.ttf') format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'DevanagariSangam';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


